/*html*/
*{
    font-family: 'Gentium Plus', serif;
    box-sizing: border-box;
}

/*menu*/

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navbar-brand{
    margin-right: 0%;
    max-width: 80%;
}

.menu{
    background-image: linear-gradient(to right, rgb(253, 115, 138), rgb(248, 203, 210));
    text-align: center;
    padding: 5px;
    font-weight: bolder;
}

.nav-item{
    list-style: none;
}

.nav-link:hover{
    color: pink;
}

.logoHome{
    max-width: 40%;
    max-height: 40%;
}

.carrusel, .carousel-inner, .carousel-item, .carImg{
    width: 18rem;
    height: 20rem;
}

.carrusel{
    margin: auto;
}

main{
    background-image: url(../img/imagenfondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.conocenos{
    text-align: center;
    text-decoration: solid;
    max-width: max-content;
    color: black;
    font-weight: bolder;
}

.piePagina{
    background-image: linear-gradient(to right, rgb(253, 115, 138), rgb(248, 203, 210));
    background-size: cover;
}

.piePagina h2{
    font-size: large;
    text-align: center;
    font-weight: bolder;
}

.redes{
    display: flex;
    justify-content: center;
}

/*calzado*/

.calzado{
    display: grid;
    justify-content: center;
    grid-template-areas: "tacoAguja"
                         "botasOtoniales"
                         "zapatillasDeportivas";
}

.tacoAguja{
    grid-area: tacoAguja;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.botasOtoniales{
    grid-area: botasOtoniales;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.zapatillasDeportivas{
    grid-area: zapatillasDeportivas;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/* parrafos de las imagenes*/

.parrafoImagen{
    text-align: center;
    margin-top: 2rem;
    font-size: large;
    font-weight: bolder;
}

/*ofertas*/

.ofertas{
    display: grid;
    justify-content: center;
    grid-template-areas: "zapatillasAltas"
                         "remerasEstampadas"
                         "jeanTejano";
}

.zapatillasAltas{
    grid-area: zapatillasAltas;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.remerasEstampadas{
    grid-area: remerasEstampadas;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.jeanTejano{
    grid-area: jeanTejano;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*otoño/invierno*/

.otonioInvierno{
    display: grid;
    justify-content: center;
    grid-template-areas: "sacoBeige"
                         "sacoGris"
                         "sacoMarron"
                         "camperonNegro"
                         "camperaNegra"
                         "camperaFrizada";
}

.sacoBeige{
    grid-area: sacoBeige;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sacoGris{
    grid-area: sacoGris;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.sacoMarron{
    grid-area: sacoMarron;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.camperonNegro{
    grid-area: camperonNegro;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.camperaNegra{
    grid-area: camperaNegra;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.camperaFrizada{
    grid-area: camperaFrizada;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*primavera/verano*/

.primaveraVerano{
    display: grid;
    justify-content: center;
    grid-template-areas: "conjuntoMusolina"
                         "conjuntoSeda"
                         "enteritoWaffle"
                         "enteritoSeda"
                         "conjuntoAngel"
                         "conjuntoClasico";
}

.conjuntoMusolina{
    grid-area: conjuntoMusolina;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.conjuntoSeda{
    grid-area: conjuntoSeda;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.enteritoWaffle{
    grid-area: enteritoWaffle;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.enteritoSeda{
    grid-area: enteritoSeda;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.conjuntoAngel{
    grid-area: conjuntoAngel;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.conjuntoClasico{
    grid-area: conjuntoClasico;
    font-size: large;
    font-weight: bolder;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*imagenes pages tamaños*/

.imgMuestra{
    display: flex;
    flex-wrap: nowrap;
    width: 300px;
    height: auto;
    margin: auto;
}

/* media tablet*/

@media (min-width: 576px) and (max-width: 991px) {

    .nav-link{
        font-size: large;
    }

    .logoHome{
        max-width: 50%;
        max-height: 50%;
    }
    
    .carrusel, .carousel-inner, .carousel-item, .carImg{
        width: 28rem;
        height: 30rem;
    }

    .conocenos{
        font-size: larger;
    }

    .piePagina h2{
        font-size: larger;
    }

    .imgMuestra{
        display: flex;
        flex-wrap: nowrap;
        width: 400px;
        height: auto;
        margin: auto;
    }

    .parrafoImagen{
        text-align: center;
        margin-top: 2rem;
        font-size: larger;
    }
    
}

/* media pc*/

@media (min-width: 992px) {

    .nav-link{
        font-size: larger;
    }

    .logoHome{
        max-width: 60%;
        max-height: 60%;
    }
    
    .carrusel, .carousel-inner, .carousel-item, .carImg{
        width: 36rem;
        height: 38rem;
    }

    .conocenos{
        font-size: x-large;
    }

    .piePagina h2{
        font-size: x-large;
    }

    .imgMuestra{
        display: flex;
        flex-wrap: nowrap;
        width: 500px;
        height: auto;
        margin: auto;
    }

    .parrafoImagen{
        text-align: center;
        margin-top: 2rem;
        font-size: larger;
    }
    
}