//import

@import "utilities/variables";

/*html*/

*{
    font-family: $font-family;
    box-sizing: border-box;
}

/*menu*/

header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .menu{
        background-image: linear-gradient(to right, $bg-color1, $bg-color2);
        @extend %textos;
        padding: 5px;
        .logoHome{
            max-width: $logSize;
            max-height: $logSize;
        }
        .navbar-brand{
            margin-right: 0%;
            max-width: 80%;
        }
        .nav-item{
            list-style: none;
            .nav-link:hover{
                color: $nlColor;
            }
        }
    }
}

/*main*/

main{
    background-image: url(../img/imagenfondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    .conocenos{
        @extend %textos;
        max-width: max-content;
        color: black;
        font-size: larger;
        p{
            font-size: medium;
        }
    }
    .carrusel{
        margin: auto;
    }
    .carrusel, .carousel-inner, .carousel-item, .carImg{
        @include img-main (18rem, 20rem);
    }
}

/*footer*/

.piePagina{
    background-image: linear-gradient(to right, $bg-color1, $bg-color2);
    @extend %footer;
    h2{
        font-size: medium;
    }
    .redes{
        img{
            width: 90%;
            height: 90%;
        }
    }
}

/*pages*/

main{
    .titulo{
        grid-area: "titulo";
        font-size: xx-large;
        @extend %textos;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .botonera{
        @extend %botonera;
    }

    .botonera:hover{
        color: pink;
        background-image: linear-gradient(to right, $bg-color3, $bg-color4);
    }
}

//grids

.calzado, .ofertas, .otonioInvierno, .primaveraVerano{
    display: grid;
    gap: 1.5rem;
    grid-template-areas: "primerDiv"
                         "segundoDiv"
                         "tercerDiv"
                         "cuartoDiv"
                         "quintoDiv"
                         "sextoDiv";                        
}

.tacoAguja, .zapatillasAltas, .sacoBeige, .conjuntoMusolina{
    grid-area: "primerDiv";
    @include img-p;
    @extend %flexPage;
}

.botasOtoniales, .remerasEstampadas, .sacoGris, .conjuntoSeda{
    grid-area: "segundoDiv";
    @include img-p;
    @extend %flexPage;
}

.zapatillasDeportivas, .jeanTejano, .sacoMarron, .enteritoWaffle{
    grid-area: "tercerDiv";
    @include img-p;
    @extend %flexPage;
}

.camperonNegro, .enteritoSeda{
    grid-area: "cuartoDiv";
    @include img-p;
    @extend %flexPage;
}

.camperaNegra, .conjuntoAngel{
    grid-area: "quintoDiv";
    @include img-p;
    @extend %flexPage;
}

.camperaFrizada, .conjuntoClasico{
    grid-area: "sextoDiv";
    @include img-p;
    @extend %flexPage;
}

/*media tablet*/

@media (min-width: 576px) and (max-width: 991px) {

    .carrusel, .carousel-inner, .carousel-item, .carImg{
        @include img-main (20rem, 30rem);
    }

    .calzado, .ofertas, .otonioInvierno, .primaveraVerano{
        display: grid;
        gap: 2.5rem;
        grid-template-areas: "primerDiv segundoDiv"
                             "tercerDiv cuartoDiv"
                             "quintoDiv sextoDiv";                       
    }
    
    .tacoAguja, .zapatillasAltas, .sacoBeige, .conjuntoMusolina{
        grid-area: "primerDiv";
    }
    
    .botasOtoniales, .remerasEstampadas, .sacoGris, .conjuntoSeda{
        grid-area: "segundoDiv";
    }
    
    .zapatillasDeportivas, .jeanTejano, .sacoMarron, .enteritoWaffle{
        grid-area: "tercerDiv";
    }
    
    .camperonNegro, .enteritoSeda{
        grid-area: "cuartoDiv";
    }
    
    .camperaNegra, .conjuntoAngel{
        grid-area: "quintoDiv";
    }
    
    .camperaFrizada, .conjuntoClasico{
        grid-area: "sextoDiv";
    }

    .piePagina{
        h2{
        font-size: large;
        }
        .redes{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

/*media desktop*/

@media (min-width: 992px) {

    .carrusel{
        margin-top: 1rem;
    }

    .carrusel, .carousel-inner, .carousel-item, .carImg{
        @include img-main (36rem, 38rem);
    }

    .conocenos{
        p{
            width: 50%;
            margin: auto;
        }
    }

    .calzado, .ofertas, .otonioInvierno, .primaveraVerano{
        display: grid;
        gap: 3.5rem;
        grid-template-areas: "primerDiv segundoDiv tercerDiv"
                             "cuartoDiv quintoDiv sextoDiv";                       
    }
    
    .tacoAguja, .zapatillasAltas, .sacoBeige, .conjuntoMusolina{
        grid-area: "primerDiv";
    }
    
    .botasOtoniales, .remerasEstampadas, .sacoGris, .conjuntoSeda{
        grid-area: "segundoDiv";
    }
    
    .zapatillasDeportivas, .jeanTejano, .sacoMarron, .enteritoWaffle{
        grid-area: "tercerDiv";
    }
    
    .camperonNegro, .enteritoSeda{
        grid-area: "cuartoDiv";
    }
    
    .camperaNegra, .conjuntoAngel{
        grid-area: "quintoDiv";
    }
    
    .camperaFrizada, .conjuntoClasico{
        grid-area: "sextoDiv";
    }

    .piePagina{
        h2{
        font-size: large;
        }
        .redes{
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}