//variables


//tipo de letras
$font-family: 'Gentium Plus', serif;

//bg header y footer
$bg-color1: rgb(253, 115, 138);
$bg-color2: rgb(248, 203, 210);

//prop de los textos
$align: center;
$fontW: bolder;
$deco: solid;

//nav link color
$nlColor: pink;

//logoHome
$logSize: 40%;

//carrusel
$ancho: 18rem;
$alto: 20rem;

//justificar centro
$justCenter: center;