//variables


//tipo de letras
$font-family: 'Gentium Plus', serif;

//bg header y footer
$bg-color1: rgb(253, 115, 138);
$bg-color2: rgb(248, 203, 210);
$bg-color3: rgb(113, 113, 212);
$bg-color4: rgb(138, 245, 209);

//prop de los textos
$align: center;
$fontW: bolder;
$deco: solid;

//nav link color
$nlColor: pink;

//logoHome
$logSize: 40%;

//carrusel/img
$ancho: 18rem;
$alto: 20rem;

//justificar centro
$justCenter: center;

//mixin

@mixin img-main ($width, $height){
    width: $width;
    height: $height;
}

@mixin img-p {
    margin: auto;
    img{
        width: $ancho;
        height: $alto;
    }
    p{
        font-size: large;
        text-align: $align;
        font-weight: $fontW;
        text-decoration: $deco;
    }
}

//extend
%footer{
    h2{
        text-align: $align;
        font-weight: $fontW;
    }
    .redes{
        display: flex;
        justify-content: $justCenter;
    }
    h3{
        font-size: xx-small;
        text-align: end;
        font-weight: $fontW;
    }
}

%textos{
    text-align: $align;
    font-weight: $fontW;
    text-decoration: $deco;
}

%botonera{
    justify-content: $justCenter;
    width: 30%;
    height: 2rem;
    @extend %textos;
    font-size: small;
    box-shadow: 1px 1px black;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 1rem;
    background-image: linear-gradient(to right, $bg-color1, $bg-color2);
    color: black;
    margin: auto;
    img{
        max-width: 1.5rem;
        max-height: 1.5rem;
        justify-content: $justCenter;
    }
}

%flexPage{
    display: flex;
    flex-direction: column;
}
